<!DOCTYPE html>
<html>
<head>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
    angular.module('ionicApp', ['ionic'])
    </script>
</head>
<body ng-app="ionicApp">
    <div class="bar bar-header bar-assertive">
      <h1 class="title">Contact Us</h1>
  </div style = "margin: 10px;">
  <ion-view style="margin-top:40px">
  <ion-content>
  <div class="rowcc responsive-lg responsive-sm">
  <img style="width:100%; height:240px; overflow: hidden;" ng-src="../img/solstice.png">
 </div>
 <div style = "font-size: 22px; margin-left:10px; margin-top:25px">Connect With Us</div></br>
  <span style = "font-size: 17px; margin:10px"><u>Hyderabad Campus:</u></span>
  <div style="margin-top:30px; margin-left:10px">   
  <b>Akanksha Bhosle</b> </br>
  <span style="font-style:italic; color: grey"> email:  </span><a href="mailto:akanksha_bhosle2016@isb.edu">akanksha_bhosle2016@isb.edu</a></br>
  <b>Raghav Bhagra</b> </br>
  <span style="font-style:italic; color: grey"> email:  </span><a href="mailto:raghav_bhagra2016@isb.edu">raghav_bhagra2016@isb.edu</a></br>
</div>
<div style="margin-top:20px; margin-left:10px">
  <span style="font-style:italic; color: grey"> Website:  </span><a href="#" onclick="window.open('http://www.isb.edu/solstice', '_system', 'location=yes'); return false;">http://www.isb.edu/solstice</a></br>
  <span style="font-style:italic; color: grey"> Facebook:  </span><a href="https://www.facebook.com/events/899556553462098/">https://www.facebook.com/events/</a></br>
  <span style="font-style:italic; color: grey"> Twitter:  </span><a href="https://twitter.com/lifeatisb">https://twitter.com/lifeatisb</a>
  </div>
</ion-content>
</ion-view>
</body>
</html>