<ion-view view-title="Contact Us ">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/Picture1.png');">
            <div class="content">
            </div>
        </div>
        <h4 class="content padding double-padding-x">Connect with us</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="content padding double-padding-x" style="margin-top:-25px;">
                <span style="text-decoration: underline">Hyderabad Campus:</span> </br>
                </br>
                <b>Akanksha Bhosle</b> </br>
                <span style="font-style:italic; color: grey">email:</span> akanksha_bhosle2016@isb.edu</br>
                <b>Raghav Bhagra</b> </br>
                <span style="font-style:italic; color: grey">email:</span> raghav_bhagra2016@isb.edu</br>
                </br>
                <span style="font-style:italic; color: grey">Website:</span> <a href="http://www.isb.edu/solstice">http://www.isb.edu/solstice</a></br>
                <span style="font-style:italic; color: grey">Facebook:</span> Coming Soon</br>
                <span style="font-style:italic; color: grey">Twitter:</span> <a href="https://twitter.com/lifeatisb">https://twitter.com/lifeatisb</a>
            </div>
        </div>
    </ion-content>
</ion-view>
