<!DOCTYPE html>
<html>
  <head>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
<body ng-app="ionicApp">
<div class="bar bar-header bar-assertive">
  <h1 class="title">Event Brief</h1>
</div>
<ion-content>
        <div class="content padding assertive" style="font-size: 1.4em; margin-top:50px">Solstice 2015</div>
        <div class="content padding" style="text-align: justify;">
            Solstice is ISB's flagship alumni event where alums are invited back to campus to reconnect with their classmates and party with their alma mater.
        </div>
        <div class="content padding" style="text-align: justify;">
            Solstice 2015 is coming soon! Get ready to reconnect with friends, faculty and current students for 2 days of fun filled activities that last through the night. Stand-up comedy, a musical night, superhero parties and much more is awaiting you.
        </div>
        <!-- <div class="content padding positive">
            <a href="http://isbalumni.isb.edu/SolsticeEvent_Mobile.aspx?ID=Xv3t1RU48mo%3D">Register Now!</a>
        </div> -->

 </ion-content>
 -
</body>
</html>