<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <h1>Event Brief</h1>
  </ion-content>
</ion-view>

<ion-view view-title="Event Brief">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/Picture1.png');">
        </div>
        <div class="content padding assertive" style="font-size: 1.4em">Solstice 2015</div><br>
        <p class="content padding" style="text-align: justify; margin-top:-15px">
            Solstice is ISB's flagship alumni event where alums are invited back to campus to reconnect with their classmates and party with their alma mater.
        </p>
        <p class="content padding" style="text-align: justify; margin-top:-15px">
            Solstice 2015 is coming soon! Get ready to reconnect with friends, faculty and current students for 2 days of fun filled activities that last through the night. Stand-up comedy, a musical night, superhero parties and much more is awaiting you.
        </p>
        <div class="content padding positive">
            <a href="http://isbalumni.isb.edu/SolsticeEvent_Mobile.aspx?ID=Xv3t1RU48mo%3D">Register Now!</a>
        </div>

    </ion-content>
</ion-view>
