
<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.1/css/ionic.css" />
    <script src="http://code.ionicframework.com/1.0.0-beta.1/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
  <body ng-app="ionicApp">
    <div class="bar bar-header bar-assertive">
  <h1 class="title">Frequently Asked Questions</h1>
</div>
<div class="bar bar-subheader">
  <h2 class="title">Registration</h2>
</div>
<ion-content>
<ion-scroll direction="y">

<div class="list">
    <a class="item" style="margin-top:80px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">How much is the registration fee?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">What all do I get as part of the registration?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Are accommodation charges different from the registration charge?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">I can come only during day 2 of Solstice. Do I still need to pay the entire registration fee?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">What is the fee for on-the-spot registration?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">How many of my class mates are coming?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">What if I have been overcharged for my accomodation?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Can I get my friends who are not alumni of the school for Solstice?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Who is the key note speaker?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Which band is playing?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Are there any activities/events for my spouse/kids?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">I do not drink, which events/activities will be of interest to me?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">None of the events interests me, why should I come?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Can I get accommodation in campus? (EH, studio, quad?)</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">How many people can stay in a quad room?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">What are the tarrifs for the same?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">My friend and I have registered separately. Can we be put in adjacent rooms?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Can the outside guests be accommodated in the campus itself?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">What are the alternate accommodation arrangements in case I do not accommodation in campus?</a>
    <a class="item" style="margin-top:0px" style="Font-size:30px" class="button button-clear icon-right ion-chevron-right">Logistics and travel partners?</a>
    <a class="item" style="margin-top:0px" style="fornt-size:30px" class="button button-clear icon-right ion-chevron-right">What are the hotel tariffs?</a>
</div>
    </ion-scroll>
</ion-content>
  </body>
</html>
   
    


