<ion-view view-title="Sessions">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">
            <div class="list condensed-space animate-fade-slide-in-right">
                
                <div class="item item-divider">
                    18th December
                </div>
                <a href="#" class="item item-avatar">
                    <img src="img/simple-clock.png">
                    <h2>Lunch + Networking</h2>
                    <p>2:00 PM to 3:00 PM</p>
                    <p>Atrium</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Sundowner</h2>
                    <p>3:00 PM to 4:00 PM</p>
                    <p>Amphitheatre</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Poker</h2>
                    <p>3:00 PM to 8:00 PM</p>
                    <p>Rec Lounge</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Dinner</h2>
                    <p>8:00 PM to 9:30 PM</p>
                    <p>Atrium/08 Lounge</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Comedy Night</h2>
                    <p>9:30 PM to 11:30 PM</p>
                    <p>Khemka/08 Lounge</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Superhero Party</h2>
                    <p>11:30 PM to 12:30 PM</p>
                    <p>08 Lounge</p>
                    
                </a>

                <div class="item item-divider">
                    19th December
                </div>
                <!-- <h4 class="content padding double-padding-x positive">19th December</h4> -->
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Afterzone</h2>
                    <p>4:00 AM to 6:00 AM</p>
                    <p>TBA</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>SunOoper Dam Trail</h2>
                    <p>6:00 AM to 7:00 AM</p>
                    <p>Dam</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Poker</h2>
                    <p>3:00 PM to 8:00 AM</p>
                    <p>Rec Lounge</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Breakfast</h2>
                    <p>7:00 AM to 10:00 AM</p>
                    <p>Atrium</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Tea Plantation</h2>
                    <p>10:30 AM to 11:00 AM</p>
                    <p>Garden</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Solstice Sports</h2>
                    <p>11:00 AM to 02:00 PM</p>
                    <p>Rec Centre</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Keynote Session</h2>
                    <p>2:00 PM to 4:00 PM</p>
                    <p>Khemka</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Dance/Music Workshops</h2>
                    <p>4:00 PM to 5:00 PM</p>
                    <p>TBA</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Avenger Hunt</h2>
                    <p>5:00 PM to 08:00 PM</p>
                    <p>Full Campus</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Dean's Dinner</h2>
                    <p>08:00 PM to 10:30 PM</p>
                    <p>Atrium</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Live Act</h2>
                    <p>10:30 PM to 11:30 PM</p>
                    <p>Rec Lawns</p>
                    
                </a>

                <div class="item item-divider">
                    20th December
                </div>
                <!-- <h4 class="content padding double-padding-x positive">20th December</h4> -->
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Bollywood Night</h2>
                    <p>12:30 AM to 4:00 AM</p>
                    <p>Rec Lounge</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Afterzone</h2>
                    <p>4:00 AM to 7:00 AM</p>
                    <p>TBA</p>
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/simple-clock.png">
                    <h2>Breakfast</h2>
                    <p>7:00 AM to 8:00 AM</p>
                    <p>Atrium</p>
                    
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
