<!DOCTYPE html>
<html>

  <head>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
<style type="text/css">
    body {
      background-color: #fff;
    }
    .circle {
      position: relative;
      background-color: white;
      width: 60px;
      height: 60px;
      border-radius: 200px;
      border: 2px solid #004c66;
      margin-top: 10px;
    }
    .text {
      position: relative;
      margin-top: 20px;
      margin-left: 3px;
      transform:translate(-50%,-50%);
      color: #fff;
    }
  </style>
  <body ng-app="ionicApp">
    <div class="bar bar-header bar-assertive">
  <h1 class="title">Schedules</h1>
</div>
<div class="bar bar-subheader">
  <h1 class="title">Schedules are subject to change. You will be informed in case any event is rescheduled</h1>
</div>
<ion-view>
    <ion-content>
            <div class="list">
                <div style="margin-top:42px" class="item responsive-sm item-divider">
                    Day 1 - Fri, 18th Dec
                </div>
                <div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Registration</p>
                    <p style="margin-top:-6px">10:00 AM to 01:00 PM</p>
                    <p style="margin-top:-12px">Registration</p>
                    </div>
                    </div>
                
                <div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">01:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">FETE For Kids</p>
                    <p style="margin-top:-6px">01:00 PM to 07:00 PM</p>
                    <p style="margin-top:-12px">Arts & creativity approach</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">04:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Sundowner - Habanero Mexican Bar</p>
                    <p style="margin-top:-6px">04:00 PM to 07:00 PM</p>
                    <p style="margin-top:-12px">Ampitheatre</p>
                    </div>
</div>

<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">06:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Bollywood Dance</p>
                    <p style="margin-top:-6px">06:00 PM to 06:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>

<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">07:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Comedy Night</p>
                    <p style="margin-top:-6px">07:00 PM to 08:00 PM</p>
                    <p style="margin-top:-12px">Amphitheatre</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">08:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Wine Tasting by Grovers Wine</p>
                    <p style="margin-top:-6px">08:30 PM to 09:00 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">08:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Dinner</p>
                    <p style="margin-top:-6px">08:00 PM to 09:00 PM</p>
                    <p style="margin-top:-12px">SV3 Lawns</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">09:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Superhero Theme Party</p>
                    <p style="margin-top:-6px">09:30 PM to 11:30 PM</p>
                    <p style="margin-top:-12px">08 Lounge</p>
                    </div>
</div>
                <div class="item responsive-sm item-divider">
                    Day 2 - Sat, 19th Dec
                </div>
                <!-- <h4 class="content padding double-padding-x positive">19th December</h4> -->
               <div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">06:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Dam Trail</p>
                    <p style="margin-top:-6px">06:00 AM to 06:30 AM</p>
                    <p style="margin-top:-12px">Dam</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">07:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Breakfast</p>
                    <p style="margin-top:-6px">07:00 AM to 09:00 AM</p>
                    <p style="margin-top:-12px">Atrium</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">ISB Tour</p>
                    <p style="margin-top:-6px">10:00 AM to 10:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Sports Meet</p>
                    <p style="margin-top:-6px">10:00 AM to 12:00 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Management Meet Co'11</p>
                    <p style="margin-top:-6px">10:00 AM to 11:00 AM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">11:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Group Photo Co'11 & Co'06</p>
                    <p style="margin-top:-6px">11:00 AM to 11:30 AM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:30 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Shiamak Aqua Dance Workshop</p>
                    <p style="margin-top:-6px">10:30 AM to 12:00 PM</p>
                    <p style="margin-top:-12px">Swimming Pool</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">11:30 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Management Meet Co'06</p>
                    <p style="margin-top:-6px">11:30 AM to 12:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">11:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Wine Tasting by Grovers Wine</p>
                    <p style="margin-top:-6px">11:00 AM to 12:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">12:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Lunch</p>
                    <p style="margin-top:-6px">12:30 PM to 02:00 PM</p>
                    <p style="margin-top:-12px">Atrium</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">12:30 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Built to Cook - Cooking Competition</p>
                    <p style="margin-top:-6px">12:30 PM to 02:00 PM</p>
                    <p style="margin-top:-12px">Rec Centre</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Poker Tournament</p>
                    <p style="margin-top:-6px">02:30 PM to 05:00 PM</p>
                    <p style="margin-top:-12px">Yoga Room</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Mid Term Mock Exam - Quiz Club</p>
                    <p style="margin-top:-6px">02:30 PM to 04:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Movie Screening</p>
                    <p style="margin-top:-6px">02:30 PM to 04:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Informal Networking</p>
                    <p style="margin-top:-6px">02:30 PM to 04:30 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Wine Tasting + Grape Stomping</p>
                    <p style="margin-top:-6px">02:30 PM to 03:00 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">03:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Shiamak Aqua Dance Workshop</p>
                    <p style="margin-top:-6px">03:00 PM to 04:30 PM</p>
                    <p style="margin-top:-12px">Swimming Pool</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">05:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Keynote Speaker Session</p>
                    <p style="margin-top:-6px">05:00 PM to 07:00 PM</p>
                    <p style="margin-top:-12px">Khemka Auditorium</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">07:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Dean's Dinner</p>
                    <p style="margin-top:-6px">07:30 PM to 09:00 PM</p>
                    <p style="margin-top:-12px">Executive Housing Lawns</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">07:30 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66" class="item-text-wrap">Salsa/Bachata/Bollywood Dance class</p>
                    <p style="margin-top:-6px">07:30 PM to 08:00 PM</p>
                    <p style="margin-top:-12px">-</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">09:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66" class="item-text-wrap">Co'16, Co'11 & Co'06 Band Performance</p>
                    <p style="margin-top:-6px">09:00 PM to 10:00 PM</p>
                    <p style="margin-top:-12px">Rec Centre</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 PM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66" class="item-text-wrap">Live Act - Coke Studio's Clinton Cerejo</p>
                    <p style="margin-top:-6px">10:00 PM to 11:30 PM</p>
                    <p style="margin-top:-12px">Rec Centre</p>
                    </div>
</div>
<div class="item responsive-sm">
                    <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">12:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Bollywood Theme Party</p>
                    <p style="margin-top:-6px">12:00 AM</p>
                    <p style="margin-top:-12px">Rec Centre</p>
                    </div>
</div>
                <div class="item responsive-sm item-divider">
                    Day 3 - Sun, 20th Dec
                </div>
                <div class="item responsive-sm">
                <!-- <h4 class="content padding double-padding-x positive">20th December</h4> -->
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">07:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Breakfast</p>
                    <p style="margin-top:-6px">07:00 AM to 09:00 AM</p>
                    <p style="margin-top:-12px">Atrium</p>
                    </div>
</div>
<div class="item responsive-sm">
                <div class="circle responsive-sm">
    <div style="color:grey;font-size:12px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:70px; margin-top:-60px">
                    <p style="font-size:16px;color:#004c66">Brunch</p>
                    <p style="margin-top:-6px">10:00 AM to 03:00 PM</p>
                    <p style="margin-top:-12px">Brunch</p>
                    </div>
                </div>

        </div>
    </ion-content>
</ion-view>

  </body>

</html>