<ion-view title="Sessions">
    <ion-header-bar class="bar bar-assertive">
    <h1 class="title">Search</h1>
  </ion-header-bar>
    <style type="text/css">
    body {
      background-color: #fff;
    }
    .circle {
      position: relative;
      background-color: white;
      width: 60px;
      height: 60px;
      border-radius: 200px;
      border: 2px solid darkblue;
      margin-top: 10px;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      color: #fff;
    }
  </style>
  <ion-content>
            <div class="list">
                <div class="item item-divider">
                    Day 1 - Fri, 18th Dec
                </div>
                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Registration</p>
                    <p style="margin-top:-16px">10:00 AM to 01:30:00 PM</p>
                    <p style="margin-top:-14px">Registration</p>
                    </div>
                
                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">01:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">FETE For Kids</p>
                    <p style="margin-top:-16px">01:00 PM to 07:00 PM</p>
                    <p style="margin-top:-14px">Arts & creativity approach</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">04:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Sundowner at Ampitheatre</p>
                    <p style="margin-top:-16px">04:00 PM to 07:00 PM</p>
                    <p style="margin-top:-14px">Co06/Co11 Band at Ampitheatre</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Comedy Night</p>
                    <p style="margin-top:-14px">07:00 PM to 08:00 PM</p>
                    <p style="margin-top:-14px">Ampitheatre</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">06:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Shlamak Zumba</p>
                    <p style="margin-top:-14px">06:30 PM to 08:00 PM</p>
                    <p style="margin-top:-14px">Yoga room/ TBD</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">08:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Dinner</p>
                    <p style="margin-top:-14px">08:00 PM to 09:30 PM</p>
                    <p style="margin-top:-14px">SV 3 Lawns</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Superhero Theme Party</p>
                    <p style="margin-top:-14px">09:30 PM to 11:30 PM</p>
                    <p style="margin-top:-14px">Co03 lounge</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">12:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">SV 2 Stayzilla Campsite</p>
                    <p style="margin-top:-14px">12:00 AM to 04:00 AM</p>
                    <p style="margin-top:-14px">SV2 old Football field</p>
                    </div>

                <div class="item item-divider">
                    Day 2 - Sat, 19th Dec
                </div>
                <!-- <h4 class="content padding double-padding-x positive">19th December</h4> -->
                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Breakfast</p>
                    <p style="margin-top:-14px">07:00 AM to 09:00 AM</p>
                    <p style="margin-top:-14px">Atrium</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:30 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Management Meet</p>
                    <p style="margin-top:-14px">09:30 AM to 11:00 AM</p>
                    <p style="margin-top:-14px">Co'11</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Shiamak Aqua Dance Workshop</p>
                    <p style="margin-top:-14px">10:00 AM to 12:00 PM</p>
                    <p style="margin-top:-14px">Pool</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:30 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">ISB Tour</p>
                    <p style="margin-top:-14px">09:30 AM to 11:00 AM</p>
                    <p style="margin-top:-14px">ISB Tour</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:30 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Sports Meet</p>
                    <p style="margin-top:-14px">09:30 AM to 12:00 PM</p>
                    <p style="margin-top:-14px">Sports Meet</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">11:30 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Management Meet</p>
                    <p style="margin-top:-14px">11:30 AM to 12:30 PM</p>
                    <p style="margin-top:-14px">Management Meet</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">11:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Group Photo</p>
                    <p style="margin-top:-14px">11:00 AM to 11:30 AM</p>
                    <p style="margin-top:-14px">Co06 and Co11</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">11:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Wine Tasting</p>
                    <p style="margin-top:-14px">11:00 AM to 12:30 AM</p>
                    <p style="margin-top:-14px">By Grovers Wine</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">12:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Lunch</p>
                    <p style="margin-top:-14px">12:30 PM to 02:00 PM</p>
                    <p style="margin-top:-14px">Atrium</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">12:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Cooking Competition</p>
                    <p style="margin-top:-14px">12:30 PM to 02:00 PM</p>
                    <p style="margin-top:-14px">Atrium</p>
                    </div>

                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Poker Tournament</p>
                    <p style="margin-top:-14px">02:00 PM to 05:00 PM</p>
                    <p style="margin-top:-14px">Yoga Room</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Movie Screening</p>
                    <p style="margin-top:-14px">02:00 PM to 04:30 PM</p>
                    <p style="margin-top:-14px">Andaz Apna Apna</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Cocktail Making</p>
                    <p style="margin-top:-14px">02:00 PM to 02:30 PM</p>
                    <p style="margin-top:-14px">Mixology Session</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Shiamak Aqua Dance Workshop</p>
                    <p style="margin-top:-14px">02:30 PM to 04:30 PM</p>
                    <p style="margin-top:-14px">Swimming Pool</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Mid Term Mock Exam</p>
                    <p style="margin-top:-14px">02:00 PM to 04:30 PM</p>
                    <p style="margin-top:-14px">Online(if we can do this))</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Informal Networking</p>
                    <p style="margin-top:-14px">02:00 PM to 04:30 PM</p>
                    <p style="margin-top:-14px">Alum gyaan</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">02:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Kiddie Sports(hhopla,snake race etc.)</p>
                    <p style="margin-top:-14px">02:00 PM to 07:00 PM</p>
                    <p style="margin-top:-14px">Approach Hopscotch</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">04:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Keynote Speaker Session</p>
                    <p style="margin-top:-14px">04:30 PM to 07:00 PM</p>
                    <p style="margin-top:-14px">Khemka(mostly Anurag Kashyap)</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Avenger Hunt</p>
                    <p style="margin-top:-14px">07:30 PM to 08:30 PM</p>
                    <p style="margin-top:-14px">(maybe scrapped))</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Dean's Dinner</p>
                    <p style="margin-top:-14px">07:30 PM to 09:00 PM</p>
                    <p style="margin-top:-14px">EH lawns-British Embassy sponsored</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Salsa/Bachata class</p>
                    <p style="margin-top:-14px">07:30 PM to 08:00 PM</p>
                    <p style="margin-top:-14px">Bollywood class</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:30 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Band Rec</p>
                    <p style="margin-top:-14px">09:30 PM to 10:00 PM</p>
                    <p style="margin-top:-14px">Co06/Co11 centre</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">09:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Band Rec</p>
                    <p style="margin-top:-14px">09:00 PM to 09:30 PM</p>
                    <p style="margin-top:-14px">Co16 centre</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">10:00 PM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Live act at Rec centre</p>
                    <p style="margin-top:-14px">10:00 PM to 12:00 AM</p>
                    <p style="margin-top:-14px">Coke Studio's Clinton Cerejo</p>
                    </div>

                    <div class="circle">
    <div style="color:grey;font-size:14px" class="text">12:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">SV 2 Stayzilla Campsite at SV2 old Football field</p>
                    <p style="margin-top:-14px">12:00 AM to 04:00 AM</p>
                    <p style="margin-top:-14px">Bollywood Theme Party at Recreation centre</p>
                    </div>

                <div class="item item-divider">
                    Day 3 - Sun, 20th Dec
                </div>
                <!-- <h4 class="content padding double-padding-x positive">20th December</h4> -->
                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">07:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Breakfast</p>
                    <p style="margin-top:-14px">07:00 AM to 09:00 AM</p>
                    <p style="margin-top:-14px">Atrium</p>
                    </div>


                <div class="circle">
    <div style="color:grey;font-size:14px" class="text">10:00 AM</div>
  </div>
                    <div style="margin-left:80px; margin-top:-86px;">
                    <p style="font-size:20px;color:blue">Brunch</p>
                    <p style="margin-top:-14px">10:00 AM to 03:00 PM</p>
                    <p style="margin-top:-14px">Brunch</p>
                    </div>

        </div>
    </ion-content>
</ion-view>
