<!DOCTYPE html>
<html>
  <head>
  	<link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
<body ng-app="ionicApp">
<div class="bar bar-header bar-assertive">
  <h1 class="title">Speakers</h1>
</div>
<ion-view>
  <div class="row responsive-lg responsive-sm">
   <img ng-src="../img/comingsoonimage.png" style = "margin-left:auto;margin-right:auto; margin-top: 200px;">
  </div>
</ion-view>
</body>
</html>
