<!DOCTYPE html>
<html>
  <head>
  	<link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
    <script type="text/javascript">
function custommsg() {
  var first = document.getElementById("name").value;
  $.ajax({
                url: "https://docs.google.com/a/motifworks.com/forms/d/1VwxM9RVSCIneXFe5f1Cwg2_K6g2B9i5DcCvPLQPhUAE/formResponse",
                data: { "Name": first,
                 },
                type: "POST",
                dataType: 'xml',
                crossDomain: true,
                statusCode: {
                0: function() {
                    //Success message
                },
                200: function() {
                    //Success Message
                }
            }
            });
            }
</script>
  </head>
<body ng-app="starter" ng-controller="post">
<div class="bar bar-header bar-assertive">
  <h1 class="title">Superhero</h1>
</div>
<ion-view view-title="Super Hero">
    <ion-content>
        <h4 style="margin-top:65px" >Nominate a super hero from your class.</h4>
        <div style="margin-top:20px" class="list animate-fade-slide-in-right">
            
            
        <div class="list">
        <form target="fake-target" method="POST" action="https://docs.google.com/a/motifworks.com/forms/d/1VwxM9RVSCIneXFe5f1Cwg2_K6g2B9i5DcCvPLQPhUAE/formResponse" onsubmit="custommsg(); return true;">
    <input id="name" name="Name" type="text" placeholder="First Name">

    <input type="submit" name="submit" value="Submit">
</form>
          <!-- <label class="item item-input item-floating-label" style="margin-top:40px">
            <div class="input-label">Name of Superhero</div>
            <input type="text" style="margin-left:80px" placeholder="Name">
          </label>

          <ion-item class="item item-input item-select">
            <div class="input-label">
              Year
            </div>
            <select>
              <option selected>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
            </select>
          </ion-item>
          <button class="button button-full button-positive" ng-click="clicked()">
              Submit
          </button> -->
        </div>
        </div>
    </ion-content>
</ion-view>

</body>
</html>
  