<!DOCTYPE html>
<html>
<head>
  <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
  <script src="../lib/ionic/js/ionic.bundle.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/controllers.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script>
  angular.module('ionicApp', ['ionic'])
  </script>
  <script type="text/javascript">
  function OnDropDownChange(dropDown) {
    var selectedValue = dropDown.options[dropDown.selectedIndex].value;
    document.getElementById("year").value = selectedValue;
  }
  </script>
  <script type="text/javascript">
  function custommsg() {
    var No1 = document.getElementById('name').value;
    var No2 = document.getElementById('year').value;

    $.ajax({
      url: "https://dweet.io/dweet/for/solstice2015superhero?" + "name=" + No1 + "&" + "batch=" + No2,
      type: "POST",
      dataType: 'json',
      crossDomain: true,
      statusCode: {
        0: function() {
                    //Success message
                  },
                  200: function() {
                    //Success Message
                  }
                }
              });
  }
  </script>

</head>
<body ng-app="starter" ng-controller="TestCtrl">
  <div class="bar bar-header bar-assertive">
    <h1 class="title">Superhero</h1>
  </div>
  <ion-view view-title="Super Hero">
  <ion-content>
  <h4 style="margin-top:65px" >Nominate a super hero from your class.</h4>
  <div style="margin-top:20px" class="list animate-fade-slide-in-right">
    <div class="list">
      <form target="fake-target" method="POST" onsubmit="custommsg()">
        <label class="item item-input item-floating-label" style="margin-top:40px">
          <div class="input-label">Name of Superhero</div>
          <input id="name" required name="Name" type="text" placeholder="Name">
        </label>
        <div class="item item-input item-select">
          <div class="input-label">
            Year
          </div>
          <select type="text" onChange="OnDropDownChange(this);">
            <option selected>2002</option>
            <option>2003</option>
            <option>2004</option>
            <option>2005</option>
            <option>2006</option>
            <option>2007</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
          </select>
          <input required type="text" id="year" value="" />
        </div>
        
        <!-- <input id="year" name="Name" type="text" placeholder="First Name"> -->
        <input class="button button-full button-positive" type="submit" ng-click="clicked()" name="submit" value="Submit">
      </form>
      
    </div>
  </div>
</ion-content>
</ion-view>

</body>
</html>