<!DOCTYPE html>
<html>
  <head>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
<body ng-app="ionicApp" style="margin: 0;">
<div class="bar bar-header bar-assertive">
  <h1 class="title">Sponsors</h1>
</div>
<ion-view>
    <ion-content>
            <div>
                <div style="margin-top:40px">
                    <div class="responsive-sm item-divider">
                    Title Sponsor
                </div>
                <div align="center">
                    <img ng-src="../img/DLF.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Gold Sponsor
                </div>
                <div align="center">
                    <img ng-src="../img/UK.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Stay Partner
                </div>
                <div align="center">
                    <img ng-src="../img/StayZilla.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Lead Hospitality Partner
                </div>
                    <div align="center">
                    <img ng-src="../img/Jonathan.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Travel Partner
                </div>
                <div align="center">
                    <img ng-src="../img/JA.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Sundowner brought to you by
                </div>
                <div align="center">
                    <img ng-src="../img/Habanero.png" style="max-height: 100px; max-width: 100px;">
                </div>
            </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Transport Partner
                </div>
                <div align="center">
                    <img ng-src="../img/Uber.png" style="max-height: 100px; max-width: 100px;">
                </div>
                </div>
                <div>
                    <div class="responsive-sm item-divider">
                    Technology Partner
                </div>
                <div align="center">
                    <img ng-src="../img/Techwave.png" style="max-height: 100px; max-width: 100px;">
                </div>
                <div align="center">
                    <img ng-src="#" style="max-height: 100px; max-width: 100px;">
                </div>
                <div align="center">
                    <img ng-src="#">
                </div>
                </div>
                <div>
            </div>
            
        
    </ion-content>
</ion-view>
</body>
</html>