<!DOCTYPE html>
<html>
  <head>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../lib/ionic/js/ionic.bundle.js"></script>
    <script>
      angular.module('ionicApp', ['ionic'])
    </script>
  </head>
<body ng-app="ionicApp">
<div class="bar bar-header bar-assertive">
  <h1 class="title">Sponsors</h1>
</div>
<ion-view>
    <ion-content>
            <div class="list">
                <div style="margin-top:40px" class="item">
                    <div class="responsive-sm item-divider">
                    Title Sponsor
                </div>
                    <img ng-src="../img/DLF.png">
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Gold Sponsor
                </div>
                    <img ng-src="../img/UK.png">
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Stay Partner
                </div>
                    <a><span><img ng-src="../img/StayZilla.png"></span></a>
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Lead Hospitality Partner
                </div>
                    <a><span><img ng-src="../img/Jonathan.png"></span></a>
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Travel Partner
                </div>
                    <a><span><img ng-src="../img/JA.png"></span></a>
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Sundowner brought to you by
                </div>
                    <a><span><img ng-src="../img/Habanero.png"></span></a>
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Transport Partner
                </div>
                    <a><span><img ng-src="../img/Uber.png"></span></a>
                </div>
                <div class="item">
                    <div class="responsive-sm item-divider">
                    Technology Partner
                </div>
                    <a><span><img ng-src="../img/Techwave.png"></span></a>
                </div>
            </div>
            <!-- <div class="list animate-fade-slide-in-right">
                <div class="list card" style="margin-top:-30px;">
                    <div class="item item-avatar">
                        <img src="img/noPic.png">
                        <h2>Sponsors 1</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                    <div class="item item-image">
                        <img src="img/itc_hotel.jpg">
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/noPic.png">
                        <h2>Sponsors 2</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                    <div class="item item-image">
                        <img src="img/pfizer_rgb_pos.jpg">
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/noPic.png">
                        <h2>Sponsors 3</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                    <div class="item item-image">
                        <img src="img/livemint.png">
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/noPic.png">
                        <h2>Sponsors 4</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                    <div class="item item-image">
                        <img src="img/sainergie.png">
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/noPic.png">
                        <h2>Sponsors 5</h2>
                        <p>Nine Inch Nails</p>
                    </div>
                    <div class="item item-image">
                        <img src="img/wipro.png">
                    </div>
                </div>
            </div> -->
        
    </ion-content>
</ion-view>
</body>
</html>