<ion-view>
  <div class="rowcc responsive-lg responsive-sm">
    <img style="width:100%; height:300px; overflow: hidden;" ng-src="img/solstice.png">
  </div>

  <div class="row">
  <div class="col " style="text-align:center;border-right: 1px solid grey;">
    <a class="buttoncc " href="templates/event.html"><span class=""><img ng-src="img/about_1.png" width=70 height=70  ></span></a><p><b>Event</b></p>
  </div>
  <div class="col" style="text-align:center;border-right: 1px solid grey;">
    <a class="buttoncc" href="templates/schedules.html"><span><img  ng-src="img/schedule.png" width=70 height=70></span></a><p><b>Schedule</b></p>
  </div>
  <div class="col" style="text-align:center;">
    <a class="buttoncc" href="templates/speakers.html"><span><img  ng-src="img/speakers_icon.png" width=70 height=70></span></a><p><b>Speakers</b></p>
  </div>
</div>

 <hr class="col-90" style="color:grey"/> 

<div class="row">
  <div class="col" style="text-align:center;border-right: 1px solid grey;">
    <a class="buttoncc" href="templates/sponsors.html"><span><img  ng-src="img/sponsors_icon.png" width=70 height=70></span></a><p><b>Sponsors</b></p>
  </div>
  <div class="col" style="text-align:center;border-right: 1px solid grey;">
    <a class="buttoncc" href="templates/faqs.html"><span><img  ng-src="img/quiz.png" width=70 height=70></span></a><p><b>FAQs</b></p>
  </div>
  <div class="col" style="text-align:center">
    <a class="buttoncc" href="templates/contactus.html"><span><img  ng-src="img/contact_us.png" width=70 height=70></span></a><p><b>Contact Us</b></p>
  </div>
</div>
</ion-view>